@media screen and (max-width: 991px) {
    .navbar-collapse {
        position: absolute;
        top: 67px !important;
        left: 15%;
        width: 70%;
        background-color: #f5f5f5;
        z-index: 9;
        -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 10px 20px;
        max-height: 350px;
        overflow-y: scroll;
        border-top: 1px solid #eee;
        border-radius: 6px;
    }

    .margin {
        margin-top: 0;
    }

    .road-map-main {
        margin: 50px 0 0;
    }

    .benefite_main_box {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px 20px;
    }

    .seoSingle_box_main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
    }

    .headings {
        font-size: 32px;

    }

    .road-map-main .road-map-wrapper #card-first {
        background: #57cc99;
    }

    .road-map-main .road-map-wrapper #card-second {
        background-color: #bb3e03;
    }

    .road-map-main .road-map-wrapper #card-third {
        background-color: #ee9b00;
    }

    .social-icons {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 30px;
    }

    .pad60 {
        padding: 30px 0;
    }

    .benefite_main_box {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 576px) {
    .navbar-collapse {
        top: 67px !important;
        left: 10%;
        width: 80%;
    }

    h1 {
        font-size: 31px;
    }

    .headings {
        font-size: 30px;
    }

    .social_box {
        box-shadow: #82074b32 0px 2px 8px 0px;
        margin: 0 50px;
        border-radius: 8px;
    }

    .rating-col-icon img {
        height: 60px;
        width: 60%;
    }

    .benefit_box {
        margin: 0 30px;
        border-radius: 8px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .social_box {
        margin: 0 30px;
    }

    .benefit_box {
        margin: 0;
    }
    .social_box {
        margin: 0 20px;
    }
    .seoSingle_box {
        padding: 30px ;
    }
}